.mainContainer {
    background: rgba(255, 255, 255, .7);
    width: calc(80vw + 50px);
    height: 40vw;
    border-radius: 15px;
    overflow: hidden;
}

/*For phones*/
@media (max-aspect-ratio: 1/1) {
    .mainContainer {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        background: rgba(255, 255, 255, .4);
    }
}
