@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.votingContainer {
    height: 100%;
    display: flex;
}

.votingItem {
    background-position: center;
    background-size: cover;
    display: flex;
}

.votingItemInside {
    width: 100%;
    height: 100%;
    background: rgba(51, 54, 111, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity .2s;
}

.votingItemInside:hover {
    opacity: 1;
}

/*For phones*/
@media (max-aspect-ratio: 1/1) {
    .votingContainer {
        width: 100%;
        margin-left: 0;
        flex-direction: column;
    }

    .votingItem {
        width: 100vw;
        height: calc(50vh - 25px);
    }
}

@media (min-aspect-ratio: 1000/999) {
    .votingContainer {
        width: calc(100% - 50px);
        margin-left: 50px;
        flex-direction: row;
    }

    .votingItem {
        width: 40vw;
        height: 40vw;
    }
}
