@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.BackButton {
    font-size: 40px;
    color: #4056bc;
    position: absolute;
    left: calc(10vw - 25px);
    height: 40vw;
    background: rgba(255, 255, 255, .4);
    border-radius: 15px 0 0 15px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.BackButton:hover {
    background: rgba(255, 255, 255, .6);
}

/*For phone*/
@media (max-aspect-ratio: 1/1) {
    .BackButton {
        width: 100vw;
        left: 0;
        border-radius: 15px 15px 0 0;
        bottom: 0;
        height: 50px;
    }
}
