.background {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../../img/Background/Background.jpg");
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
}
